{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folio Coins - Loan Offers</title>
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/loan.css' %}">
</head>
<body>
  {% if user.is_staff %}
  <div class="details">
    <div class="details-a">
      <span>
        Loan status
      </span>
      <span class="right">
        Owing
      </span>
    </div> 
    <div class="details-a">
      <span>
        Amount
      </span>
      <span class="right">
        $250000
      </span>
    </div> 

    <div class="details-a">
      <span>
        Type
      </span>
      <span class="right">
        Mortgage
      </span>
    </div>
    <div class="details-a">
      <span>
        Interest rate
      </span>
      <span class="right">
        10%
      </span>
    </div>
    <div class="details-a">
      <span>
        Billing Cycle
      </span>
      <span class="right">
        Yearly
      </span>
    </div>
    <div class="details-a">
      <span>
        Loan Payback due in
      </span>
      <span class="right">
        4 months
      </span>
    </div>  
  </div>
  {% else %}
  <div>Subscribe to the Professional plan to get loan Offers.</div>
  {% endif %}
 
</body>
</html>