{% extends 'main_site/base.html' %}
{% load static %}

{% block title %} Folio Coins Services{% endblock %}
{% block content %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/services.css' %}"> 
  <header class="about-header">
    <div class="service-title page-title"><a href="/" class="title-redirect">Folio Coins</a> services</div>
    <div class="address-title ">Maslak, Ahi Evran Caddesi 2-2, 34485, Sariyer, İstanbul, Turkey.
    </div>
    </header>
    <section>
      <div class="sub-title">Are you ready to embark on a journey towards financial freedom?</div> 
      <div class="top-image-container"><img class="top-image" src="{% static 'images/investos.jpg' %}" alt="Investo-image">
      </div>
      <div class="paragraph line-reveal">Look no further! Folio Coins is your trusted partner in the world of cryptocurrency investments and financial brokerage services. With us, you can watch your wealth grow steadily, all while enjoying unparalleled peace of mind.</div>
      <div class="sub-title-first line-reveal">Why Choose Folio Coins?</div>

      <div class="sub-title line-reveal">1. Secure and Transparent Investments</div>

      <div class="paragraph line-reveal">At Folio Coins, security and transparency are our top priorities. We employ state-of-the-art encryption and security protocols to safeguard your investments. Additionally, we provide you with real-time access to your investment portfolio, ensuring complete transparency in every transaction.</div>

<div class="sub-title line-reveal"> 2. Daily Earnings</div>

<div class="paragraph line-reveal"> Our innovative investment plans allow you to earn daily returns on your investments. Whether you're investing in cryptocurrencies, traditional currencies or on other investment features, your money works for you every day, helping you achieve your financial goals faster.</div>

<div class="sub-title line-reveal">3. Generous Referral Program</div>

<div class="paragraph line-reveal">Want to boost your earnings even further? With Folio Coins, you have the opportunity to earn 10% of your referral's capital. Share the benefits of our platform with friends and family, and watch your income grow through our lucrative referral program.</div>

<div class="sub-title line-reveal">4. Flexible Withdrawal Options</div>

<div class="paragraph line-reveal">While we believe in the power of long-term investments, we understand that flexibility is essential. Investors on our professional plan can withdraw their earnings anytime they desire, enjoying a 5% profit daily. For other plans, withdrawals are available after a 7-day investment period.</div>

<div class="sub-title-first line-reveal">What we do </div>
  <div class="service-container">
    <div class="flex-container line-reveal">
    <div class="container-image"><img src="{% static 'images/crypto.jpeg' %}" alt="crypto-image" class="feature-img"></div>
    <hr>
    <div class="container-content">
    <div class="container-title">Cryptocurrency</div>
    <div class="container-text">Dive into the exciting world of cryptocurrencies with Folio Coins. We offer a secure platform for buying, selling, and trading a wide range of digital assets. Stay ahead of the crypto market trends with our real-time data and expert insights. Start your journey to financial freedom today.</div>
  </div>
  </div>
  <div class="flex-container line-reveal">
    <div class="container-image"><img src="{% static 'images/forex.jpg' %}" alt="forex-image" class="feature-img"></div>
    <hr>
    <div class="container-content">
    <div class="container-title">Forex Trading</div>
    <div class="container-text">Experience the global currency markets like never before with Folio Coins. Our Forex trading services provide you with access to the world's largest and most liquid financial market. Trade major and exotic currency pairs, receive personalized analysis, and harness the power of forex to enhance your investment portfolio.</div>
  </div>
  </div>

  <div class="flex-container line-reveal">
    <div class="container-image"><img src="{% static 'images/trad-currency.jpg' %}" alt="trad-currency-image" class="feature-img"></div>
    <hr>
    <div class="container-content">
    <div class="container-title">Traditional Currency Investment</div>
    <div class="container-text">Embrace stability and familiarity with traditional currency investment at Folio Coins. We provide opportunities to invest in major world currencies, offering a reliable option in your portfolio. Diversify your holdings by exploring the foreign exchange market and safeguard your wealth with trusted currencies. Start your journey to financial growth and stability today.</div>
    </div>
  </div>
  <div class="flex-container line-reveal">
    <div class="container-image"><img src="{% static 'images/real-estate.jpg' %}" alt="real-estate-image" class="feature-img"></div>
    <hr>
    <div class="container-content">
    <div class="container-title">Real Estate Investment</div>
    <div class="container-text">Explore lucrative real estate investment opportunities through Folio Coins. We connect you with prime properties, from residential to commercial, ensuring your investments are backed by tangible assets. Let us help you build a diversified real estate portfolio for long-term wealth accumulation.</div>
    </div>
  </div>
  <div class="flex-container line-reveal">
    <div class="container-image"><img src="{% static 'images/gold.jpg' %}" alt="gold-image" class="feature-img"></div>
    <hr>
    <div class="container-content">
    <div class="container-title">Gold Investment</div>
    <div class="container-text">Harness the timeless allure of gold with Folio Coins. Our platform enables you to invest in one of the world's most enduring and valuable assets. Explore various forms of gold investment, from physical bullion to digital gold, and safeguard your wealth against economic uncertainties. Discover the beauty and security of gold as a cornerstone of your diversified investment strategy. Begin your journey to wealth preservation with Folio Coins today.</div>
    </div>
  </div>
  <div class="flex-container line-reveal">
    <div class="container-image"><img src="{% static 'images/crude-oil.jpg' %}" alt="crude-oil-image" class="feature-img"></div>
    <hr>
    <div class="container-content">
    <div class="container-title">Crude Oil Investment</div>
    <div class="container-text">Profit from the energy sector by investing in oil with Folio Coins. Our platform offers you the chance to participate in the dynamic world of oil trading. Whether you're interested in crude oil, natural gas, or oil-related stocks, we provide the tools and information you need to make informed investment decisions.</div>
    </div>
  </div>
  <div class="flex-container line-reveal">
    <div class="container-image"><img src="{% static 'images/loans.jpg' %}" alt="loans-image" class="feature-img"></div>
    <hr>
    <div class="container-content">
    <div class="container-title">Loan Offers</div>
    <div class="container-text">Secure your financial future with Folio Coins' loan services. We offer a variety of loan options to our professional investors, tailored to their needs, from personal loans to business financing. Our competitive rates and flexible terms make borrowing easy, helping them achieve their goals without unnecessary financial strain.</div>
  </div>
  </div>
  </div>

<div class="sub-title-first line-reveal">Our Investment Plans</div>

<div class="container-plan-display">
  <div class="plan-row line-reveal">
    <div class="plan-title">Basic Plan</div>
    <div  class="plan-range">
      <div>minimum: $100 - $499</div>
      <div>maximum: $1000 - $4999</div>
    </div>
    <hr class="plan-line">
    <div class="plan-arrange">
      <div>Daily Profit: 2% Daily</div>
      <div>withdrawal commission: 7 Days</div>
      <div>Referral Bonus</div>    
      <div>24/7 Online Support</div>
      <div><a href="{% url 'home' %}"><button class="btn plan-continue">Continue</button></a></div>
    </div>
  </div>
  <div class="plan-row line-reveal">
    <div class="plan-title">Advanced Plan</div>
    <div  class="plan-range">
      <div>minimum: $500 - $4999</div>
      <div>maximum: $5000 - $9999</div>
    </div>
    <hr class="plan-line">
    <div class="plan-arrange">
      <div>Daily Profit: 3% Daily</div>
      <div>withdrawal commission: 7 Days</div>
      <div>Referral Bonus</div>
      
      <div>24/7 Online Support</div>
      <div><a href="{% url 'home' %}"><button class="btn plan-continue">Continue</button></a></div>
      
    </div>
    
  </div>
  <div class="plan-row line-reveal">
    <div class="plan-title">Professional Plan</div>
    <div  class="plan-range">
      <div>minimum: $10000 - $19999</div>
      <div>maximum: $20000 - Unlimited</div>
    </div>
    <hr class="plan-line">
    <div class="plan-arrange">
      <div>Daily Profit: 5% Daily</div>
      <div>withdrawal commission: Daily</div>
      <div>Referral Bonus</div> 
      <div>24/7 Online Support</div>
      <div><a href="{% url 'home' %}"><button class="btn plan-continue">Continue</button></a></div>
    </div>
  </div>
</div>

<div class="sub-title line-reveal">1. Novice Investor Plan</div>

<div class="paragraph line-reveal">Are you new to the world of investments? Our Basic Investor Plan is tailored to meet your needs. Start with as little as $100 and watch your money grow with daily returns.</div>

<div class="sub-title line-reveal">2. Intermediate Investor Plan</div>

<div class="paragraph line-reveal">For Investors with a little bit of experience, our Intermediate Investor Plan offers advanced investment opportunities, starting with a minimum as low as $500. Invest and watch your money grow continously.</div>

<div class="sub-title line-reveal">3. Experienced Investor Plan</div>

<div class="paragraph line-reveal">For seasoned Investors, our Professional Investor Plan offers advanced investment opportunities. 
  At this stage, you will get access to loan offers ranging from $10,000 to $1,000,000. You'll unlock real estate, oils and gold mining Investment features and cash prizes.Invest with confidence and access higher earning potential.
</div>

<div class="sub-title line-reveal"> Join Folio Coins Today</div>

<div class="paragraph line-reveal"> Are you ready to secure your financial future? Join Folio Coins today and embark on a journey towards financial prosperity. Whether you're a novice investor or a trading expert, we have the perfect investment plan for you. With our secure platform, daily earnings, and generous referral program, you're on your way to a brighter financial future.</div>

<div class="paragraph line-reveal"> Invest with Folio Coins – where your success is our mission!</div>

<div class="paragraph line-reveal" id="para-disclaimer">Disclaimer!!! : Cryptocurrency investments carry inherent risks. Please conduct thorough research and seek professional advice before investing. Past performance is not indicative of future results.
</div>
    </section>
    <footer style="background-color: rgb(34, 33, 33); width: 100%;">
      <div class="footer-flex">
      <div class="footer-first-tag">
      <div class="footer-head" style="color: #c0c0cc; font-weight: bolder; font-size: 30px;">
        Folio Coins
      </div>
      <div class="footer-address" style="color: #adadb6; padding: 10px 6px;">
        <img src="{% static 'images/placeholder.png' %}" alt="geo-icon">
        <span>Maslak, Ahi Evran Caddesi 2-2, 34485, Sariyer, İstanbul, Turkey.</span>
      </div>
      <div class="sponsor-tag">
    
        <span style="color: #a8a8b6; padding: 10px 6px; font-family: 'Times New Roman', Times, serif; font-weight: bolder; font-size: 20px;">Shareholders in</span>
        <a href="https://www.ziraatbank.com.tr/en"><img src="{% static 'images/ziraat.png' %}" class="share-img" alt="ziraat"></a>
        <a href="https://newmont.com/"><img src="{% static 'images/newmont.png' %}" class="share-img" alt="newmont"></a>
        
      </div>
      </div>
      <div class="footer-second-tag">
          <div><a href="/about" class="useful-links">About us</a></div>
          <div><a href="/services" class="useful-links">Services</a></div>
          <div><a href="/legal-terms" class="useful-links">Terms and Conditions</a></div>
          <div><a href="/contact" class="useful-links">Contact us</a></div>

      </div>
    </div>
    <div class="copyright" style="text-align: center; color: #a8a8b6;">©2023 Folio Coins. All rights reserved.</div>
    </footer>

  <script src="{% static 'scripts/services.js' %}"></script>

{% endblock %}
