{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Folio Coins - Transaction History</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/transaction.css' %}"> 
  <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
 
  <div class="transct_title">

    <div class="t-title">
      All last 16 transactions will appear below.
    </div>
    <div class="t-text">revisit your mail for past transactions not shown here...</div>
    {% if user.is_staff %}
    <div class="transactions">
      
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $7800
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $1200
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $18000
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $6720
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $400
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $700
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $2380
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $9200
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Bonus
        </span>
        <span class="transact-amount">
          $4700
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $8200
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $1700
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $3400
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $700
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $5000
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Bonus
        </span>
        <span class="transact-amount">
          $8300
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
      <div class="transct-sub">
        <span class="transact-type">
          Withdrawal
        </span>
        <span class="transact-amount">
          $7200
        </span>
        <span class="transact-status">
          Successful
        </span>
        <span class="transact-date">
          2023.....
        </span>
      </div>
    </div>
    {% endif %}
  </div>

</body>
</html>