html {
  font-family: "Lucida Sans", sans-serif;
}

* {
  box-sizing: border-box;
}


body{
  margin: 0%;
  padding: 0%;
}

.navbar {
  width: 100%;
  background-color: rgb(31, 29, 29);
  margin: 0%;
  overflow: hidden;
  border-radius: 10px;
  position: fixed;
  z-index: 7;
}

.navbar .nav-title a{
  padding: 20px;
}

.navbar .nav-title {
  display: inline;
  padding: 20px;
}

.navbar .nav-menu{
  padding: 20px ;
  float: right;
}

.navbar .nav-menu a{
  padding: 0px 50px;
  
}


.navbar .icon{
  display: none;
}

.nav-links{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.login-text{
  font-size: medium;
  color: white;
  font-weight: bolder;
}

.login-button{
  width: 80px;
  height: 50px;
  background-color: rgb(20, 57, 158);
  border-color: rgb(20, 57, 158);
}

.logo-img{
  margin-top: 15px;
  width: 40px;
}


.login-button:hover  {
 cursor: pointer;
 background-color: #012f3f;
}


@media screen and (max-width: 780px) {

  .navbar .nav-menu{
    display: none;
  }

  
  .navbar .icon{
    float: right;
    display: block;
    padding: 10px;
    font-size: 4vh;
    color: antiquewhite;
  }

  

  
  .navbar .responsive {
    display: block;
    position: relative;
  }
  .navbar .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar .responsive a {
    float: none;
    display: block;
    text-align: left;
    padding-top: 25px;
  }

}
  