html {
  font-family: "Lucida Sans", sans-serif;
}

* {
  box-sizing: border-box;
}


body{
  margin: 0%;
  padding: 0%;
}

::-webkit-scrollbar {
  background-color: transparent; 
}

::-webkit-scrollbar-thumb{
  background-color: #615d5d;
}

.about-header{
  width: 100%;
  padding: 150px 10px 40px 10px;
}

.page-welcome{
  font-weight: bolder;
  font-size: 3.2vh;
  color: rgb(2, 9, 39);
  margin-left: 10px;
}

.paragraph{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 30px;
  font-weight: normal;
  font-size: 2.3vh;
  
}

.sub-title{
  font-weight: bold;
  font-size: 2.8vh;
  color: rgb(2, 9, 39);
  padding: 20px;
  
}

.sub-title-div{
  font-weight: normal;
  font-size: 2.6vh;
  padding: 20px;
}

.footer-flex{
  width: 100%;
  display: flex;
}

.footer-flex div{
  padding: 10px 50px 10px 25px ;
}

.useful-links{
  color: #747485;
  text-decoration: none;
}

.useful-links:hover{
  color:white ;
  text-decoration: underline;
}

.share-img{
  width: 30px;
  height: auto;
}

@media only screen and (max-width: 800px) {
  .footer-flex div{
    padding: 10px 20px 10px 15px ;
  }

}