{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Folio Coins - Verify Email</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verify.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}"> 
  </head>
  <body>
    <div class="verify-container">
      <div class="verify-title">Verify Email</div>
      <div id="error-message" class="errorcode">{{ message }}</div>
      <div class="verify-form">
        <form method="post" novalidate id="verify-form">
          {% csrf_token %}
          {{ form.as_div }}
          <input type="submit" value="Verify" id="verify-button">
        </form>
      </div>
      <div class="overlay" id="loader">
        <div class="loader"></div>
      </div>
    </div>
    <script src="{% static 'scripts/verify.js' %}"></script>
      
    </script>
  </body>
</html>